<form action = '/blog/write' method = 'post'>
    <div class="form-group">
        <input type = 'text' name = 'title' class="form-control">
    </div>
    
    <div class="form-group">
        <textarea class="form-control" name="content" rows="10"></textarea>
    </div>
    <!--
    <trix-editor input="x"></trix-editor>
    <input id="x" type="hidden" name="content">
    -->
    
    <input type = 'submit' value='write'>
</form>

