<div class="post">
  <h1 class="post-title"><%= @post.title%></h1>
  <span class="post-date"><%= @post.created_at%></span>
  <p style = "white-space: pre-line;">
    <%= @post.content %>
  </p>
</div>
