p
{
   margin: 0 0 0.5em;
   font-size: 16px;
}

p, dl {
   color: #4d5256;
   padding-top: 10px;
   padding-bottom: 10px;
   line-height: 1.6em;
   font-weight: 300;
}

.post-title {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 100;
  color: #4d5256;
}


.post-date {
  font-size: 16px;
  color: #9a9a9a;
}

.sidebar-item > p {
  color: #fff;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Noto Sans KR', sans-serif;
  font-weight: 100;
}

.masthead-title > a:hover, .post-title > a:hover {
  text-decoration: none;
}

.post > .post-title {
  margin-bottom: 20px;
}


.post {
  border-bottom: 1px solid #e1e4e6;
  padding-bottom: 20px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.sidebar-toggle {
  margin-bottom: 0;
  height: 40px;
  padding: .60rem;
  position: absolute;
}
